.icon-sprite, .icon-ani-01, .icon-ani-02, .icon-ani-03, .icon-ani-04, .icon-ani-05, .icon-ani-06, .icon-ani-07, .icon-ani-08, .icon-ani-09, .icon-ani-10, .icon-ani-11, .icon-ani-12, .icon-ani13, .icon-ani14 {
  background-image: url('../img/icon-s1bd864a61b.png');
  background-repeat: no-repeat;
}

.icon-ani-01 {
  background-position: 0 0;
}

.icon-ani-02 {
  background-position: -714px 0;
}

.icon-ani-03 {
  background-position: -1428px 0;
}

.icon-ani-04 {
  background-position: -2142px 0;
}

.icon-ani-05 {
  background-position: -2856px 0;
}

.icon-ani-06 {
  background-position: -3570px 0;
}

.icon-ani-07 {
  background-position: -4284px 0;
}

.icon-ani-08 {
  background-position: -4998px 0;
}

.icon-ani-09 {
  background-position: -5712px 0;
}

.icon-ani-10 {
  background-position: -6426px 0;
}

.icon-ani-11 {
  background-position: -7140px 0;
}

.icon-ani-12 {
  background-position: -7854px 0;
}

.icon-ani13 {
  background-position: -8568px 0;
}

.icon-ani14 {
  background-position: -9282px 0;
}

.icon-animation {
  width: 714px;
  height: 768px;
  background: url("../img/icon-s1bd864a61b.png") left center;
  animation: play 2s steps(14) infinite;
}

div {
  display: block;
  margin: 0 auto;
}

header {
  font-family: harryp;
  text-align: center;
  font-size: 50px;
}

.simple-linear {
  background: linear-gradient(#5b0104, #c30712, #f97e23, #fda629);
}

@keyframes play {
  100% {
    background-position: -9996px center;
  }
}
nav {
  border: solid 2px #FDA629;
  border-radius: 25px;
  text-align: center;
}
nav ul li {
  list-style: none;
  display: inline-block;
  padding-right: 30px;
}
nav ul li a {
  font-family: harryp;
  font-size: 35px;
  padding: 8px;
}
nav ul li a:link, nav ul li a:visited {
  color: #5B0104;
}
nav ul li a:hover, nav ul li a:active {
  background: #F97E23;
  color: #FDA629;
}
