$icon-layout:horizontal;
@import "icon/*.png";
@include all-icon-sprites;


    .icon-animation {
        width:714px;
        height:768px;
        background:url("../img/icon-s1bd864a61b.png") left center;
        animation: play 2s steps(14) infinite;
    }//icon
div {
    display:block;
    margin: 0 auto;
}
header {
    font-family: harryp;
    text-align: center;
    font-size: 50px;
}
.simple-linear {
    background: linear-gradient($hpdarkred,$hpred,$hporange,$hpyellow);
}

//width*number of steps for background position
@keyframes play {
    100% {
        background-position: -9996px center;
    }
}

nav {
    @include box;
    text-align: center;
    ul {
        li{ 
            list-style: none;
            display: inline-block;
            padding-right: 30px;
            a{
                font-family: harryp;
                font-size: 35px;
                padding: 8px;
            }//a
            a:link, a:visited {
                color: $hpdarkred;
            }
            a:hover, a:active {
                background: $hporange;
                color: $hpyellow;
                
            }
        }//li
    }//ul
}//nav